<!DOCTYPE html>

<html lang="en">

{% load static %}

<head>

    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Document</title>

     <!-- Favicon -->

     <link href="img/favicon.ico" rel="icon">


     <!-- Google Web Fonts -->

     <link rel="preconnect" href="https://fonts.gstatic.com">

     <link href="https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@700&display=swap" rel="stylesheet">  

 

     <!-- Icon Font Stylesheet -->

     <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

     <link href="https://cdnjs.cloudflare.com/ajax/libs/flat-ui/2.3.0/css/flat-ui.min.css" rel="stylesheet"/>

 

     <!-- Libraries Stylesheet -->

     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
 

 

    <link rel="stylesheet" href="{%static 'css/style.css'%}">

    <!-- <link rel="stylesheet" href="{%static 'css/bootstrap.min.css'%}"> -->

    <!--script src="{%static 'js/demo.js'%}"></script-->

    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>


</head>

<body>

     <!-- Topbar Start -->

     <div class="container-fluid border-bottom d-none d-lg-block">

        <div class="row gx-0">

            <div class="col-lg-4 text-center py-2">

                <div class="d-inline-flex align-items-center">

                    <i class="bi bi-geo-alt fs-1 text-primary me-3"></i>

                    <div class="text-start">

                        <h6 class="text-uppercase mb-1">Our Office</h6>

                        <span>123 Street, New York, USA</span>

                    </div>

                </div>

            </div>

            <div class="col-lg-4 text-center border-start border-end py-2">

                <div class="d-inline-flex align-items-center">

                    <i class="bi bi-envelope-open fs-1 text-primary me-3"></i>

                    <div class="text-start">

                        <h6 class="text-uppercase mb-1">Email Us</h6>

                        <span>info@example.com</span>

                    </div>

                </div>

            </div>

            <div class="col-lg-4 text-center py-2">

                <div class="d-inline-flex align-items-center">

                    <i class="bi bi-phone-vibrate fs-1 text-primary me-3"></i>

                    <div class="text-start">

                        <h6 class="text-uppercase mb-1">Call Us</h6>

                        <span>+012 345 6789</span>

                    </div>

                </div>

            </div>

        </div>

    </div>

    <!-- Topbar End -->
    <!-- Navbar Start -->

    {% if messages %}
    {% for message in messages %}
        {% if message.tags == "success" %}
            <div class="alert alert-success alert-dismissible fade show">
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
                <strong>{{ message }}</strong>
            </div>
        {% else %}
        <div class="alert alert-danger alert-dismissible fade show">
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
            <strong>{{ message }}</strong>
        </div>
        {% endif %}
    {% endfor %}
    {% endif %}


    <nav class="navbar navbar-expand-lg bg-white navbar-light shadow-sm py-3 py-lg-0 px-3 px-lg-0">

        <a href="{% url 'home' %}" class="navbar-brand ms-lg-5">

            <h1 class="m-0 text-uppercase text-dark"><i class="bi bi-shop fs-1 text-primary me-3"></i>Pet Shop</h1>

        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">

            <span class="navbar-toggler-icon"></span>

        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">

            <div class="navbar-nav ms-auto py-0">

                <a href="{% url 'home' %}" class="nav-item nav-link active">Home</a>

                <a href="about.html" class="nav-item nav-link">About</a>

                <a href="service.html" class="nav-item nav-link">Service</a>
                
                <a href="{% url 'pets_list' %}" class="nav-item nav-link" target="_blank">ALL Product</a>


                <div class="dropdown">
                    <a href="#" class="nav-item nav-link dropdown-toggle" data-toggle="dropdown">
                        Category
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'dog-list' %}" target="_blank ">Dog</a>
                        <a class="dropdown-item" href="{% url 'cat-list' %}" target="_blank ">Cat</a>
                    </div>
                </div>
                <form method="GET" action="{% url 'search-list' %}" class="form my-2 my-1g-8" target="_blank">

                    <div class="input-group"> <div class="form-outline"> <div style="display: flex;">
                    
                    <input type="search" id="search" name="search" class="form-control" placeholder="search" />
                    
                    <button class="btn">Submit</button>
                    
                    </div>
                    
                    </div>
                </form>

                {% if user.is_authenticated %}
                    <div class="dropdown">
                        <a href="#" class="nav-item nav-link dropdown-toggle" data-toggle="dropdown">
                        {{request.user}} | Your Profile 
                        </a>
                        <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'order_history' %}" target="_blank "> My orders </a>
                        <a class="dropdown-item" href="#" target="_blank "> Account Info </a>
                        </div>
                    </div>

                    <a href="{% url 'carthome' %}" class="nav-item nav-link"> cart </a>

                    <a href="{% url 'logout' %}" class="nav-item nav-link"> Logout </a>

                {% else %}

                <a href="{% url 'register-page' %}" class="nav-item nav-link"> Register </a>
                <a href="{% url 'login' %}" class="nav-item nav-link"> login </a>

                {% endif %}


                <!-- <a href="{% url 'register-page' %}" target="_blank" style="text-decoration: none; color: black;"  class="nav-item nav-link nav-contact bg-primary text-white px-5 ms-lg-5"> Register </a>
                <a href="{% url 'login' %}" target="_blank" style="text-decoration: none; color: black;"  class="nav-item nav-link nav-contact bg-primary text-white px-5 ms-lg-5"> Login </a>
                <a href="contact.html" class="nav-item nav-link nav-contact bg-primary text-white px-5 ms-lg-5">Contact <i class="bi bi-arrow-right"></i></a> -->

            </div>

        </div>

    </nav>

    <!-- Navbar End -->
</body>
</html>