{% include 'base/header.html' %}
{% block content %}
    <div class="container">

        {% if search|length < 1 %}
        <p style="color: black; font-weight: bold;"> no search result </p>
        <p style="color: black; font-weight: bold;"> your search did not match any documents </p>
        {% endif %}
        <h4 style="text-align: center; margin-top: 20px; margin-bottom: 20px; font-size: x-large;" > search data</h4>
        
        <div class="row">
            {% for obj in  search %}
            <div class="col-lg-3" >
                <div class="card" style= "cursor: pointer; min-height: 250px;">
                <div class="card-body">
                   <a href=" {%  url 'pet_detail' pk=obj.pk  %}" target="_blank" style="text-decoration: none;"><p style="color: rgb(4, 45, 230); font-size: larger;"> {{ obj.name }}</p> </a> 
                    <img height="200px " width="200px" class="card-img-top" src="{{ obj.image.url }}">
                    <!-- <img  class="card-img-top" height="200px" src="{{ obj.image.url }}"> -->
                    <p class="card-text">  {{ obj.description }}  </p>
                    <p> <b> breed is : {{ obj.breed }}</b></p>
                    <p> <b> age is : {{ obj.age }}</b></p>
                    
            </div>
            </div>
        </div>
        {% endfor %}
    </div>
 </div>
{% endblock %}
{% include 'base/footer.html' %}
